<!DOCTYPE html>
<html>
<body  style="background-color:lightblue">



<h2 style="float:center; padding:60px 70px 10px 620px">Filter Movies</h2>
<form action="{% url 'filter' %}">
<div class = "titles" style="float:center; padding:80px 70px 10px 550px">
  <label for="filter">Title for Imdb info 
  </label><input type="text" autocomplete="off" id="fname" name="filter" maxlength="100" required style = "padding:0px 0px 0px 2px"><br><br>
  </div>
 <div>
  <input type="submit" value="Filter" style="float:center;   background-color: #3354FF; margin:0px 0px 0px 675px; 
  border: none;
  color: white;
  padding:10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer">
  </div>
 
</form>
</body>
</html>